* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: Arial;
}
.alinhaLogo{
    display: flex;
align-items:center;
justify-content: center;
flex-direction: row;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.alinhaConteudoMAIN{
    background-color: #F1E6AD;
    border: 2px solid black ;
    width: 90dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}